<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body onload="init()">
<header>
    <nav class="navbar navbar-expand-lg bg-nav rounded">
        <th:block th:include="~{fragments/nav-authorized}"></th:block>
    </nav>

</header>
<script th:inline="javascript">
    const offices = new Map([
        /*[# th:each="town : ${towns}"]*/
        ['[(${town.id})]', [
            /*[# th:each="office : ${town.offices}"]*/
            {id: '[(${office.id})]', name: '[(${office.name})]'},
            /*[/]*/
        ]
        ],
        /*[/]*/
    ]);

</script>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Employee in Office</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur rounded"
          method="post"
          th:object="${empl}"
          th:action="@{/employees/add}" >

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="email" class="h4 mb-2">Email</label>
            </div>
            <input th:field="*{email}" type="email" class="form-control" id="email" name="email" />

            <small th:if="${#fields.hasErrors('email')}" th:each="err:${#fields.errors('email')}" th:text="${err}" class="text-danger">Email error message</small>
        </div>
        <div  class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="town" class="h4 mb-2">Town</label>
            </div>
            <select class="browser-default custom-select" id="town" name="town">
                <option value="">Choose a town</option>
                <option th:each="town : ${towns}"
                        th:value="${town.id}"
                        th:text="${town.name}">
                </option>
            </select>

            <small th:if="${#fields.hasErrors('town')}" th:each="err:${#fields.errors('town')}" th:text="${err}" class="text-danger">Town error message</small>
        </div>
        <div   class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="office" class="h4 mb-2">Office</label>
            </div>
            <select th:field="*{office}"  class="browser-default custom-select" id="office" name="office">
                <option value=''><strong>Choose an office</strong></option>
            </select>

            <small th:if="${#fields.hasErrors('office')}" th:each="err:${#fields.errors('office')}" th:text="${err}" class="text-danger">Town error message</small>

        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="position" class="h4 mb-2">Position</label>
            </div>
            <select class="browser-default custom-select" id="position" name="position">
                <option th:each="t:${T(finalproject.models.entities.Position).values()}"
                        th:value="${t}" th:text="${t}">Select category</option>
            </select>
            <small th:if="${#fields.hasErrors('position')}" th:each="err:${#fields.errors('position')}" th:text="${err}" class="text-danger">Position error message</small>
        </div>


        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Add">Add Employee</button>
        </div>

    </form>
</main>


</body>
<footer class="footer bg-transparent  py-2">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</html>
