<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-nav rounded">
        <th:block th:include="~{fragments/nav-authorized}"></th:block>
	</nav>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add shipment</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur rounded"
          th:object="${ship}"
          method="POST"
          th:action="@{/shipments/add}">
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Data on sender</span></h1>
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="telephoneNumber" class="h4 mb-2 text-white">Telephone number</label>
            </div>
            <input th:field="*{telephoneNumber}" type="text" class="form-control" id="telephoneNumber" name="telephoneNumber"/>
            <small th:if="${#fields.hasErrors('telephoneNumber')}" th:each="err:${#fields.errors('telephoneNumber')}" th:text="${err}"
                   class="text-danger"> Name error</small>
        </div>
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="email" class="h4 mb-2 text-white">Email</label>
            </div>
            <input th:field="*{email}" type="text" class="form-control" id="email" name="email"/>
            <small th:if="${#fields.hasErrors('email')}" th:each="err:${#fields.errors('email')}" th:text="${err}"
                   class="text-danger"> Name error</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <textarea th:field="*{description}" type="text" class="form-control" id="description" name="description"></textarea>
            <small
                    th:if="${#fields.hasErrors('description')}" th:each="err:${#fields.errors('description')}" th:text="${err}"
                    class="text-danger">Description error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="firstName" class="h4 mb-2">First name</label>
            </div>
            <input th:field="*{firstName}" type="text" class="form-control" id="firstName" name="firstName"/>
            <small th:if="${#fields.hasErrors('firstName')}" th:each="err:${#fields.errors('firstName')}" th:text="${err}" class="text-danger">Needed before date error</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="lastName" class="h4 mb-2">Last name</label>
            </div>
            <input th:field="*{lastName}" type="text" class="form-control" id="lastName" name="lastName"/>
            <small th:if="${#fields.hasErrors('lastName')}" th:each="err:${#fields.errors('lastName')}" th:text="${err}" class="text-danger">Needed before date error</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="weight" class="h4 mb-2">Weight</label>
            </div>
            <input th:field="*{weight}" type="text" class="form-control" id="weight" name="weight"/>
            <small th:if="${#fields.hasErrors('weight')}" th:each="err:${#fields.errors('weight')}" th:text="${err}" class="text-danger">Needed before date error</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input th:field="*{price}" type="text" class="form-control" id="price" name="price"/>
            <small th:if="${#fields.hasErrors('price')}" th:each="err:${#fields.errors('price')}" th:text="${err}" class="text-danger">Needed before date error</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="town" class="h4 mb-2">Town</label>
            </div>
            <select class="browser-default custom-select" id="town" name="town">
                <option th:each="t:${T(finalproject.models.entities.Town).values()}"
                th:value="${t}" th:text="${t}">Select category</option>
            </select>
            <small th:if="${#fields.hasErrors('town')}" th:each="err:${#fields.errors('town')}" th:text="${err}" class="text-danger">Town error message</small>
        </div>

<!--        Recipient-->


        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Data on Recipient</span></h1>
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="telephoneNumberRec" class="h4 mb-2 text-white">Telephone number</label>
            </div>
            <input th:field="*{telephoneNumberRec}" type="text" class="form-control" id="telephoneNumberRec" name="telephoneNumberRec"/>
            <small th:if="${#fields.hasErrors('telephoneNumberRec')}" th:each="err:${#fields.errors('telephoneNumberRec')}" th:text="${err}"
                   class="text-danger"> Name error</small>
        </div>
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="emailRec" class="h4 mb-2 text-white">Email</label>
            </div>
            <input th:field="*{emailRec}" type="text" class="form-control" id="emailRec" name="emailRec"/>
            <small th:if="${#fields.hasErrors('emailRec')}" th:each="err:${#fields.errors('emailRec')}" th:text="${err}"
                   class="text-danger"> Name error</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="firstNameRec" class="h4 mb-2">First name</label>
            </div>
            <input th:field="*{firstNameRec}" type="text" class="form-control" id="firstNameRec" name="firstNameRec"/>
            <small th:if="${#fields.hasErrors('firstNameRec')}" th:each="err:${#fields.errors('firstNameRec')}" th:text="${err}" class="text-danger">Needed before date error</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="lastNameRec" class="h4 mb-2">Last name</label>
            </div>
            <input th:field="*{lastNameRec}" type="text" class="form-control" id="lastNameRec" name="lastNameRec"/>
            <small th:if="${#fields.hasErrors('lastNameRec')}" th:each="err:${#fields.errors('lastNameRec')}" th:text="${err}" class="text-danger">Needed before date error</small>
        </div>


        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="townRec" class="h4 mb-2">Town</label>
            </div>
            <select class="browser-default custom-select" id="townRec" name="town">
                <option th:each="t:${T(finalproject.models.entities.Town).values()}"
                        th:value="${t}" th:text="${t}">Select category</option>
            </select>
            <small th:if="${#fields.hasErrors('townRec')}" th:each="err:${#fields.errors('townRec')}" th:text="${err}" class="text-danger">Town error message</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3"  value="Continue to Recipient">Finish Shipment</button>
        </div>
<!--        <div class="button-holder d-flex justify-content-center">&ndash;&gt;-->
<!--            <button type="submit" class="btn btn-warning  mb-3"  value="Continue to Recipient">Finish Shipment</button>&ndash;&gt;-->
<!--        </div>-->

    </form>


<!--    <form class="mx-auto w-25 bg-blur rounded"-->
<!--          th:object="${ship}"-->
<!--          method="POST"-->
<!--          th:action="@{/shipments/add}">-->
<!--        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Data on Recipient</span></h1>-->
<!--        <div class="form-group">-->
<!--            <div class="label-holder textCol d-flex justify-content-center">-->
<!--                <label for="telephoneNumberRec" class="h4 mb-2 text-white">Telephone number</label>-->
<!--            </div>-->
<!--            <input th:field="*{telephoneNumberRec}" type="text" class="form-control" id="telephoneNumberRec" name="telephoneNumberRec"/>-->
<!--            <small th:if="${#fields.hasErrors('telephoneNumberRec')}" th:each="err:${#fields.errors('telephoneNumberRec')}" th:text="${err}"-->
<!--                   class="text-danger"> Name error</small>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <div class="label-holder textCol d-flex justify-content-center">-->
<!--                <label for="emailRec" class="h4 mb-2 text-white">Email</label>-->
<!--            </div>-->
<!--            <input th:field="*{emailRec}" type="text" class="form-control" id="emailRec" name="emailRec"/>-->
<!--            <small th:if="${#fields.hasErrors('emailRec')}" th:each="err:${#fields.errors('emailRec')}" th:text="${err}"-->
<!--                   class="text-danger"> Name error</small>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <div class="label-holder text-white textCol d-flex justify-content-center">-->
<!--                <label for="firstNameRec" class="h4 mb-2">First name</label>-->
<!--            </div>-->
<!--            <input th:field="*{firstNameRec}" type="text" class="form-control" id="firstNameRec" name="firstNameRec"/>-->
<!--            <small th:if="${#fields.hasErrors('firstNameRec')}" th:each="err:${#fields.errors('firstNameRec')}" th:text="${err}" class="text-danger">Needed before date error</small>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <div class="label-holder text-white textCol d-flex justify-content-center">-->
<!--                <label for="lastNameRec" class="h4 mb-2">Last name</label>-->
<!--            </div>-->
<!--            <input th:field="*{lastNameRec}" type="text" class="form-control" id="lastNameRec" name="lastNameRec"/>-->
<!--            <small th:if="${#fields.hasErrors('lastNameRec')}" th:each="err:${#fields.errors('lastNameRec')}" th:text="${err}" class="text-danger">Needed before date error</small>-->
<!--        </div>-->


<!--        <div class="form-group">-->
<!--            <div class="text-white label-holder d-flex justify-content-center">-->
<!--                <label for="townRec" class="h4 mb-2">Town</label>-->
<!--            </div>-->
<!--            <select class="browser-default custom-select" id="townRec" name="town">-->
<!--                <option th:each="t:${T(finalproject.models.entities.Town).values()}"-->
<!--                        th:value="${t}" th:text="${t}">Select category</option>-->
<!--            </select>-->
<!--            <small th:if="${#fields.hasErrors('townRec')}" th:each="err:${#fields.errors('townRec')}" th:text="${err}" class="text-danger">Town error message</small>-->
<!--        </div>-->

<!--        <div class="button-holder d-flex justify-content-center">-->
<!--            <button type="submit" class="btn btn-warning  mb-3"  value="Continue to Recipient">Finish Shipment</button>-->
<!--        </div>-->
<!--    </form>-->


</main>

<footer class="footer bg-transparent  py-2">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>
